<div class="card mt-5">
    <div class="card-header bg-card-header">
        Renkler
    </div>
    <ul class="list-group">
        <li 
            (click)="setCurrentColor(color)"
            *ngFor="let color of colors"
            routerLink ="/cars/{{color.name}}"
            [class]="getCurrentColorClass(color)"
            class="list-group-item list-group-item-action list-group-item-info">
            
            {{color.name}}
        </li>
    </ul>
</div>

<h5 class="text-info" *ngIf="currentColor">{{currentColor?.name}} seçtiniz</h5>
