<div class="card">
    <div class="card-header bg-card-header">
        Markalar
    </div>
    <ul class="list-group">
        <li 
            (click)="setCurrentBrand(brand)"
            routerLink ="cars/{{brand.name}}"
            *ngFor="let brand of brands"
            [class]="getCurrentBrandClass(brand)"
            class="list-group-item list-group-item-action list-group-item-info">
            
            {{brand.name}}
        </li>
    </ul>
</div>

<h5 class="text-info" *ngIf="currentBrand">{{currentBrand?.name}} seçtiniz</h5>