<div class="login-page w-100">
    <div class="container">
        <div class="register-card">
            <div class="card-body">
                <div class="company-logo" routerLink="/">Car<span>Book</span></div>
                <form class="mb-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingFirstname" placeholder="Ad">
                        <label for="floatingFirstname">Ad</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingLastname" placeholder="Soyad">
                        <label for="floatingLastname">Soyad</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Eposta">
                        <label for="floatingInput">Eposta</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
                        <label for="floatingPassword">Şifre</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            Sözleşmeyi okudum kabul ediyorum.
                        </label>
                    </div>


                    <button class="btn  register-btn">Kayıt Ol</button>

                </form>

                <div class="register">
                    Zaten üye misin?
                    <a routerLink="register">Giriş yapmak için tıklayın.</a>
                </div>
            </div>
        </div>
    </div>
</div>