<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2"><a href="#" class="logo">Rent a <span>Car</span></a></h2>
            <p>Güvenli ve konfor araçların en güzel adresi.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft d-flex mt-5 ">
              <li  class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="me-4 icon bi-twitter "></span></a></li>
              <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="me-4 icon bi-facebook"></span></a></li>
              <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon bi-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Genel Bilgiler</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Hakkımızda</a></li>
              <li><a href="#" class="py-2 d-block">Servisler</a></li>
              <li><a href="#" class="py-2 d-block">Terimler ve Sözleşmeler</a></li>
              <li><a href="#" class="py-2 d-block">Gizlilik politikası</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Müşteri Yardım</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Sıkça Sorulan Sorular</a></li>
              <li><a href="#" class="py-2 d-block">Ödeme Ayarları</a></li>
              <li><a href="#" class="py-2 d-block">Araba Detay</a></li>
              <li><a href="#" class="py-2 d-block">Nasıl Çalışıyor?</a></li>
              <li><a href="#" class="py-2 d-block">İletişim</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Sorunuz mu var?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="bi bi-geo-alt-fill"></span><span class="text">Ankara Gölbaşı</span></li>
                  <li><a href="#"><span class="bi bi-telephone-fill"></span><span class="text">+90 123 456 78 90</span></a></li>
                  <li><a href="#"><span class=" bi bi-envelope-fill"></span><span class="text">info@rentacar.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
            <p class="footer-text">
              Yasin Torun ©2021 Tüm hakları saklıdır.
            </p>
        </div>
      </div>
    </div>
  </footer>