.carts-img-logo {
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-group {
    margin: 20px 0px;
}

.form-group .form-control {
    padding: 10px !important;
    border: 1px solid rgba(146, 146, 146, 0.1);
}

.form-group input::placeholder {
    opacity: 0.3;
}

.form-group select {
    width: 80px;
}

.cart-month-year {
    max-width: 200px;
}

.car-image {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

}

.subheading {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}


.price {
    text-align: center;
    margin-top: 50px;
    font-weight: 900;
    font-size: 28px;
    color: rgba(199, 16, 16, 0.787);
}


@media only screen and (max-width: 500px) {
    .price {
        font-size: 24px;
    }
}