<div class="container">
    <div>
        <div>
            <h3 class="page-header">Tüm Siparişler</h3>
        </div>
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Araba</th>
                        <th scope="col">Müşteri</th>
                        <th scope="col">Kiralanma tarihi</th>
                        <th scope="col">Teslim tarihi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rental of rentals">
                        <th>{{rental.id}}</th>
                        <th>{{rental.carName}}</th>
                        <th>{{rental.customerName}}</th>
                        <th>{{rental.rentDate}}</th>
                        <th>{{rental.returnDate}}</th>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>