.card-tale {
    background: #7DA0FA;
    color: #ffffff;
}

.card.card-dark-blue {
    background: #4747A1;
    color: #ffffff;
}
.card.card-light-danger {
    background: #F3797E;
    color: #ffffff;
}

.card.card-light-blue {
    background: #7978E9;
    color: #ffffff;
}

