<div>

    <div class="container pt-5">

        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-tale">
                        <div class="card-body row">
                            <div class="col-md-8">
                                <p class="mb-4">Toplam Müşteriler</p>
                                <p class="fs-30 mb-2">{{totalUserCount}}</p>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-people fs-40"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-light-danger">
                        <div class="card-body row">
                            <div class="col-md-8">
                                <p class="mb-4">Toplam Arabalar</p>
                                <p class="fs-30 mb-2">{{totalCarCount}}</p>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-minecart fs-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card card-dark-blue">
                        <div class="card-body row">
                            <div class="col-md-8">
                                <p class="mb-4">Toplam Kiralamalar</p>
                                <p class="fs-30 mb-2">{{totalRentalCount}}</p>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-gear-wide fs-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-light-blue">
                        <div class="card-body row">
                            <div class="col-md-8">
                                <p class="mb-4">Toplam Gelir</p>
                                <p class="fs-30 mb-2">{{totalMoneyEarned|currency:'₺'}}</p>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash-stack fs-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>