<div class="bg-light">
    <div class="container py-5 bg-white">
        <div>
            <div>
                <h3 class="page-header">Şifremi Değiştir</h3>
            </div>
            <form class="py-4 w-md-25 m-auto" [formGroup]="changePasswordForm">
                <div class="form-floating mb-3">
                    <input type="password" formControlName="currentPassword" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Şuanki Şifre</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="password" formControlName="newPassword" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Yeni Şifre</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="password" formControlName="newPasswordRepeat" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Yeni Şifre Tekrar</label>
                </div>
                <div>
                    <button class="btn btn-success w-100" (click)="changePassword()">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>