
.user-profile  {
    background-color: rgba(233, 233, 233, 0.746);
}

.user-profile-card {
    background-color: white;
    padding: 60px;
}

@media only screen and (max-width: 550px) {
    .user-profile-card {
        padding: 10px;
    }
}

.user-info-block {
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
    margin-bottom: 40px;
    color: rgb(32, 31, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
}

.user-profile-img img{
    border-radius: 20px;
}

.user-profile-hero {
    color: rgb(250, 143, 67);
    font-weight: 700;
    margin-top: 10px;
}