<div>

    <div class="mb-3">
        <label for="filterText" class="form-label">Araba ara</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="ara">
    </div>

    <div *ngIf="filterText" class="alert alert-warning">
        {{filterText}} aradınız.
    </div>


    <app-car-filter data-source=""></app-car-filter>


    <table class="table table-hover text-dark">
        <thead>
            <tr>
                <th scope="col">CarId</th>
                <th scope="col">Marka</th>
                <th scope="col">Renk</th>
                <th scope="col">Günlük fiyatı</th>
                <th scope="col">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars | SearchPipe:'description':filterText" routerLink="/cars/detail/{{car.carId}}">
                <th>{{car.carId}}</th>
                <th>{{car.brandName}}</th>
                <th>{{car.colorName}}</th>
                <th>{{car.dailyPrice}}</th>
                <th>{{car.description}}</th>
            </tr>
        </tbody>
    </table>

</div>