/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root {
    --primaryThemeColor: rgb(238, 188, 94);
}



body {
    font-family: "Poppins", Arial, sans-serif !important;
    color: #848484;
}






.text-primary-theme {
    background: var(--primaryThemeColor) !important;
    border: 1px solid var(--primaryThemeColor) !important;
    color: #fff !important;
}


.company-logo {
    font-size: 42px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    color:black;
    margin-bottom: 30px;
}
.company-logo:hover {
    color: gray;
    opacity: 0.7;
    cursor: pointer;
    transition-duration: 0.2s;
}
.company-logo span {
    color: rgb(250, 143, 67);
}