/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root {
    --primaryThemeColor: rgb(238, 188, 94);
}



body {
    font-family: "Poppins", Arial, sans-serif !important;
    color: #848484;
}






.text-primary-theme {
    background: var(--primaryThemeColor) !important;
    border: 1px solid var(--primaryThemeColor) !important;
    color: #fff !important;
}


.company-logo {
    font-size: 42px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    color:black;
    margin-bottom: 30px;
}
.company-logo:hover {
    color: gray;
    opacity: 0.7;
    cursor: pointer;
    transition-duration: 0.2s;
}
.company-logo span {
    color: rgb(250, 143, 67);
}


.form-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    color:red;
}

.rounded-circle {
    border-radius: 100%;
}

.page-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 61, 90);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 40px 0px;
}

.bordered {
    border: 1px solid red;
}


.w-md-25 {
    width: 25%;
}

.w-md-50{
    width: 50% !important;
}

@media only screen and (max-width: 500px) {
    .w-md-25{
        width: 100% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .w-md-50{
        width: 100% !important;
    }

}



.list-group .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #1d2b3f;
    border-color: #1d2b3f;
}


.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}