.step-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #8b8bb9;
}

.step-item i {
    color: rgb(0, 255, 0);
}

.step {
    border-bottom: 1px solid rgb(231, 231, 231);
}
.nav-link.active {
    background-color:#8ad1ff !important;
    color: #36322e;
}


.car-photo {
    position: relative;
    max-width: 450px;
    max-height: 300px;
    margin: 20px 0px;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.52);
}

.car-photo img {
    width: 450px;
    height: 300px;
}

.car-photo button {
    position: absolute;
    top: 10px;
    right: 10px;
}